anyio
asgiref
attrs>=21.3.0
bleach
channels
channels-redis==2.4.2
Django
djangorestframework
httpx
idna
Jinja2
MarkupSafe
matplotlib
matplotlib-inline
numpy
packaging
pandas
Pygments
pytz
PyYAML
redis
requests
sqlparse
traitlets
noise
daphne
whitenoise
social-auth-app-django
django-cors-headers
django-allauth
django-check-seo
django-easy-audit
django-jet-reboot
django-prometheus
django-perf-rec
google-api-python-client==1.4.1
feedparser
django-typer
django-pictures
django-tinymce
django-imagekit
django-colorfield
django-money
django-any-urlfield
django-polymorphic
django-organizations
django-allauth-ui
django-widget-tweaks
slippers
django-robots>=4.0.0
django-guest-user
rich
ollama
django-pwa
django-webpack-loader
django-rq
websockets-cli
django-health-check
psutil
django-storages==1.12.3
amqp
kombu
django-sslserver
psycopg
psycopg2-binary
drf_yasg
setuptools
wheel
