aioredis==1.3.1
amqp==5.2.0
annotated-types==0.7.0
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
autobahn==24.4.2
automat==24.8.0
babel==2.16.0
beautifulsoup4==4.12.3
billiard==4.2.0
bleach==6.1.0
boto3==1.35.1
botocore==1.35.1
build==1.2.1
cachecontrol==0.14.0
celery==5.5.0b2
certifi==2023.11.17
cffi==1.17.0
channels==4.1.0
channels-redis==4.2.0
chardet==5.2.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
comm==0.2.2
constantly==23.10.4
contourpy==1.2.1
crashtest==0.4.1
cron-descriptor==1.4.3
cryptography==43.0.0
cssselect2==0.7.0
cycler==0.12.1
daphne==2.5.0
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.8.0rc2
distlib==0.3.8
django==5.0.8
django-allauth==64.1.0
django-allauth-ui==1.4.1
django-any-urlfield==2.7.post1
django-appconf==1.0.6
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-check-seo==1.0.1
django-classy-tags==4.1.0
django-cms==3.11.6
django-colorfield==0.11.0
django-cors-headers==4.4.0
django-easy-audit==1.3.6
django-extensions==3.2.3
django-filer==3.1.4
django-formtools==2.5.1
django-guest-user==0.5.5
django-health-check==3.18.3
django-imagekit==5.0.0
django-jet-reboot==1.3.7
django-meta==2.4.2
django-money==3.5.3
django-organizations==2.4.1
django-perf-rec==4.26.0
django-pictures==1.3.3
django-polymorphic==3.1.0
django-prometheus==2.3.1
django-pwa==2.0.0
django-redis==5.4.0
django-robots==6.1
django-rq==2.10.2
django-sekizai==4.1.0
django-sslserver==0.22
django-storages==1.12.3
django-timezone-field==7.0
django-tinymce==4.1.0
django-treebeard==4.7.1
django-typer==2.2.1
django-webpack-loader==3.1.0
django-widget-tweaks==1.5.0
djangocms-admin-style==3.3.1
djangocms-page-meta==1.4.4
djangorestframework==3.15.2
drf-yasg==1.21.7
dulwich==0.21.7
easy-thumbnails==2.9
executing==2.0.1
fastjsonschema==2.20.0
feedparser==6.0.11
filelock==3.15.4
flower==2.0.1
fonttools==4.53.1
fqdn==1.5.1
google-api-python-client==1.4.1
h11==0.14.0
h2==4.1.0
hiredis==3.0.0
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
humanize==4.10.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.7
incremental==24.7.2
inflection==0.5.1
installer==0.7.0
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.3
isoduration==20.11.0
jaraco-classes==3.4.0
jedi==0.19.1
jinja2==3.1.4
jmespath==1.0.1
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-client==8.6.2
jupyter-console==6.6.3
jupyter-core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter-server==2.14.2
jupyter-server-terminals==0.5.3
jupyterlab==4.2.4
jupyterlab-pygments==0.3.0
jupyterlab-server==2.27.3
jupyterlab-widgets==3.0.11
keyring==24.3.1
kiwisolver==1.4.5
kombu==5.4.0
lxml==5.3.0
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
minio==7.2.8
mistune==3.0.2
more-itertools==10.4.0
msgpack==1.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
noise==1.2.2
notebook==7.2.1
notebook-shim==0.2.4
numpy==2.1.0
oauth2client==4.1.3
oauthlib==3.2.2
ollama==0.3.1
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandas-ta==0.3.14b0
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pilkit==3.0
pillow==10.4.0
pip==24.2
pkginfo==1.11.1
platformdirs==4.2.2
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
priority==1.3.0
prometheus-client==0.20.0
prompt-toolkit==3.0.47
psutil==6.0.0
psycopg==3.2.1
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.3
py-moneyed==3.0
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.8.2
pydantic-core==2.20.1
pydantic-settings==2.4.0
pygments==2.18.0
pyjwt==2.9.0
pyopenssl==24.2.1
pyparsing==3.1.2
pyproject-hooks==1.1.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-json-logger==2.0.7
python3-openid==3.2.0
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.3
pywinpty==2.0.13
pyyaml==6.0.2
pyzmq==26.1.1
qtconsole==5.5.2
qtpy==2.4.1
rapidfuzz==3.9.6
redis==5.0.8
referencing==0.35.1
reportlab==4.2.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.20.0
rq==1.16.2
rsa==4.9
s3transfer==0.10.2
send2trash==1.8.3
service-identity==24.1.0
setuptools==72.2.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
slippers==0.6.2
sniffio==1.3.1
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.1
stack-data==0.6.3
svglib==1.5.1
terminado==0.18.1
tinycss2==1.3.0
tomli==2.0.1
tomlkit==0.13.2
tornado==6.4.1
traitlets==5.14.3
trio==0.26.2
trio-websocket==0.11.1
trove-classifiers==2024.7.2
twisted==24.7.0
txaio==23.1.1
typeguard==2.13.3
typer-slim==0.12.4
types-python-dateutil==2.9.0.20240316
typing-extensions==4.12.2
tzdata==2024.1
unidecode==1.3.8
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.2
uv==0.2.37
vine==5.1.0
virtualenv==20.26.3
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets-cli==0.3.0
wheel==0.44.0
whitenoise==6.7.0
widgetsnbextension==4.0.11
wsproto==1.2.0
zope-interface==7.0.1
