anyio
asgiref
attrs
bleach
channels
channels-redis
# crytography==41.0.7 python 3.9
Django
django-json-widget
djangorestframework
httpx
idna
Jinja2
MarkupSafe
matplotlib
matplotlib-inline
numpy
packaging
pandas
Pygments
pytz
PyYAML
redis
requests
sqlparse
traitlets
urllib3
noise
daphne
whitenoise
social-auth-app-django
djangorestframework
django-cors-headers
django-allauth
wagtail
django-check-seo
django-easy-audit
django-jet-reboot
django-prometheus
django-perf-rec
google-api-python-client==1.4.1
feedparser
django-typer
django-pictures
django-tinymce
django-imagekit
django-colorfield
django-money
django-any-urlfield
django-polymorphic
django-organizations
django-allauth-ui
django-widget-tweaks
slippers
django-robots>=4.0.0
django-guest-user
rich
requests
ollama
selenium
daphne
django-pwa
django-webpack-loader
django-rq
websockets-cli
django-health-check
psutil
django-storages
amqp
kombu
influxdb-client
django-sslserver